<form method="post" action="{{ path('app_forumsponsor_delete', {'id': forumsponsor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forumsponsor.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
