{% extends 'Base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
<div class="">
    <div class="d-flex justify-content-center">
        <ul class="nav">
            <li class="nav-item me-3">
                <a class="nav-link btn btn-custom-primary" href="{{ path('app_ticket_index') }}">
                    </i>
                    <span>Ticket</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-custom-primary" href="{{ path('app_reeser_index') }}">
                    </i>
                    <span>Reservation</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<main id="main" class="main">
    {{ include('Back/ticket/_form.html.twig') }}

    <a href="{{ path('app_ticket_index') }}">back to list</a>
</main>
{% endblock %}
